
GoogleWearAlert.xcodeproj/project.xcworkspace/contents.xcworkspacedata

GoogleWearAlert.xcodeproj/project.xcworkspace/xcuserdata/ashleyr.xcuserdatad/UserInterfaceState.xcuserstate

GoogleWearAlert.xcodeproj/xcuserdata/ashleyr.xcuserdatad/xcschemes/xcschememanagement.plist

GoogleWearAlert.xcodeproj/xcuserdata/ashleyr.xcuserdatad/xcschemes/GoogleWearAlert.xcscheme
